# Python Data Types and Variables

In [1]:
print('Python data types and Vaiables')

Python data types and Vaiables

In [2]:
# Comment in python

In [4]:
"""
Multi line comment
but its actually a multi line string
"""

'\nMulti line comment\nbut its actually a multi line string\n'

## Variables

In [5]:
x = 1
y = "Text type"
z = 1.234

In [6]:
print(x)
print(y)
print(z)

1
Text type
1.234

In [8]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [9]:
# Casting
x = int(3) # 3
y = str(3) # '3'
z = float(3) # 3.00

In [10]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [11]:
# Assign multiple values

x , y, z = 1, 'two',3.00

In [12]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [13]:
# One value to multiple

x = y = z = 'Multiple'
print(x)
print(y)
print(z)

Multiple
Multiple
Multiple

In [14]:
x = 2
y = 3
print(x)
print(y)
x , y = y , x
print(x)
print(y)

2
3
3
2

In [15]:
# Assign a collection to individual variables (Unpacking)

In [16]:
Sample = ["value1","value2","value3"]
x,y,z = Sample
print(x)
print(y)
print(z)

value1
value2
value3

In [17]:
# Print variables to console

In [18]:
print('Variable x = '+x)

Variable x = value1

In [23]:
# Global Variables

GlobalVariable = 2

def Func():
    print('Global Variable : '+ str(GlobalVariable))
    
Func()

Global Variable : 2

In [24]:
GlobalVariable = 2

def Func():
    LocalVaariable = 3
    print('Local Variable : '+ str(LocalVaariable))
    
Func()

Local Variable : 3

## Data types

In [63]:
# Setting the data types 

u = "String"                     # Str
u = 5                            # Int 
u = 5.15                         # Float
u = 2+1j                         # Complex
u = ['List1','List2','List3']    # List
u = ('Tuple1','Tuple2','Tuple3') # Tuple
u = range(6)                     # range
u = {"value1":1,"Value2":2}      # dict
u = {"set1","set2","set3"}       # Set
u = True                         # Boolean
u = b"byte"                      # bytes
u = bytearray(5)                 # Bytearray

### String

In [35]:
# Strings

sample = "Hi how are you"

print(sample[1])
print(sample[2])
print(sample[3])

i

h

In [37]:
for data in sample:
    print(data)

H
i

h
o
w

a
r
e

y
o
u

In [38]:
for data in range(6):
    print(sample[data])

H
i

h
o
w

In [46]:
print(len(sample))

14

In [61]:
for text in ["are","sample"]:
    if text in sample:
        print( text +' is available in the text')
    else:
        print( text +' is not available in the text')

are is available in the text
sample is not available in the text

In [69]:
# Slicing

print(sample[-1:len(sample)])
print(sample[:len(sample)])
print(sample[3:len(sample)])
print(sample[:])

u
Hi how are you
how are you
Hi how are you

In [77]:
# String Methods

print(sample.upper())
print(sample.lower())
print(sample.strip())
print(sample.replace('y','u'))
print(sample.split(' '))

HI HOW ARE YOU
hi how are you
Hi how are you
Hi how are uou
['Hi', 'how', 'are', 'you']

In [81]:
# String formatting

age = 24
place = 'chennai'
sentence = "Hi i am from {0} and i am {1} years old"

print(sentence.format(place,age))

Hi i am from chennai and i am 24 years old

### List

In [84]:
list = ["java","python","data","variable"]
print(list)
print(type(list))

['java', 'python', 'data', 'variable']
<class 'list'>

In [86]:
# Allows duplicates
list = ["java","python","data","variable","variable"]
print(list)

['java', 'python', 'data', 'variable', 'variable']

In [87]:
list = ["java",True,"data",1]
print(list)

['java', True, 'data', 1]

In [89]:
print(type(list[0]))
print(type(list[1]))
print(type(list[3]))

<class 'str'>
<class 'bool'>
<class 'int'>

In [90]:
print(len(list))

4

In [95]:
print(list[2:3])
print(list[-4:-3])

['data']
['java']

In [98]:
print("java" in list)

True

In [100]:
print(list)
list[0] = "python"
print(list)

['java', True, 'data', 1]
['python', True, 'data', 1]

In [104]:
list.append("NewData")
print(list)

['python', True, 'data', 1, 'NewData', 'NewData', 'NewData']

In [106]:
list.remove("NewData")
print(list)

['python', True, 'data', 1, 'NewData']

In [107]:
del list
print(list)

<class 'list'>

In [111]:
list = ["java","python","data","variable","variable"]
print(list)
list.sort()
print(list)
list.sort(reverse = True)
print(list)

['java', 'python', 'data', 'variable', 'variable']
['data', 'java', 'python', 'variable', 'variable']
['variable', 'variable', 'python', 'java', 'data']

### Tuples

In [113]:
tuple = ("java","JSP","Apache","test")
print(tuple)
print(type(tuple))

('java', 'JSP', 'Apache', 'test')
<class 'tuple'>

In [116]:
print(tuple[0])
print(tuple[:2])
print("java" in tuple)

java
('java', 'JSP')
True

In [117]:
for text in tuple:
    print(text)

java
JSP
Apache
test

In [118]:
# Editing tuple is not possible so convert to list by list(tuple) make changes to list and convert that back to tuple

In [122]:
# Unpacking tuples

print(tuple)
value1, value2, value3, value4 = tuple
print(value1)
print(value2)
print(value3)
print(value4)
print(tuple)
value1, value2, *value3 = tuple
print(value1)
print(value2)
print(value3)

('java', 'JSP', 'Apache', 'test')
java
JSP
Apache
test
('java', 'JSP', 'Apache', 'test')
java
JSP
['Apache', 'test']

In [124]:
print(tuple.count("java"))

1

### Sets

In [132]:
set = {"one","two","three", "three"} # Duplicates not allowed
print(set)
print(type(set))

{'one', 'two', 'three'}
<class 'set'>

In [133]:
set.add("four")
print(set)
set.add("Five")
print(set)
set.remove("one")
print(set)
set.pop()
print(set)

{'four', 'one', 'two', 'three'}
{'one', 'three', 'Five', 'four', 'two'}
{'three', 'Five', 'four', 'two'}
{'Five', 'four', 'two'}

### Disctionary (Map)

In [135]:
dictionary = {"String":"Anuvanth","Integer":24,"FLoat":39000}
print(dictionary)
print(type(dictionary))

{'String': 'Anuvanth', 'Integer': 24, 'FLoat': 39000}
<class 'dict'>

In [136]:
print(dictionary.get("String"))

Anuvanth

In [137]:
print(dictionary.keys())

dict_keys(['String', 'Integer', 'FLoat'])

In [138]:
print(dictionary["String"])

Anuvanth

In [140]:
print(dictionary.values())

dict_values(['Anuvanth', 24, 39000])

In [141]:
print("String" in dictionary)

True

In [143]:
print(dictionary)
dictionary["String"] = "New Value"
print(dictionary)

{'String': 'Anuvanth', 'Integer': 24, 'FLoat': 39000}
{'String': 'New Value', 'Integer': 24, 'FLoat': 39000}

In [150]:
# Add element

dictionary["Company"] = "New COmpany"
print(dictionary)

{'String': 'New Value', 'Integer': 24, 'FLoat': 39000, 'Company': 'New COmpany'}

In [151]:
dictionary.pop("Company")
print(dictionary)

{'String': 'New Value', 'Integer': 24, 'FLoat': 39000}

In [155]:
for keys in dictionary:
    print(keys + " : " + str(dictionary[keys]))

String : New Value
Integer : 24
FLoat : 39000